#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*VH = View Height */

}
body {
  background-color: #27282b;
  
}
*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,b,i,a,li {
  color: #ebebeb;
  text-decoration: none;
}
.dagsPris{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: #55ec20;
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: #201e1e;

    div{  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-style: dashed;
      border-color: #55ec20;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    } 
}
.ligenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  padding: 20px;
    h3, h4{ 
      font-size: 2rem;
    }
}
.oversigt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    padding: 20px;
  
    
  
}
.historik{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  padding: 20px;
   
}
.mainFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #201e1e;
  span{
    color: #55ec20;
    font-weight: bold;
  }
}

footer{
  margin-top: auto;
}